<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <bookmarks>
        <bookmark name="Contract" href="#contract"></bookmark>
    </bookmarks>
    <link th:rel="stylesheet" type="text/css" th:href="@{css/internship_contract_style.css}"/>
</head>

<body>
<h1 style="text-align: center; font-weight: bold;">ENTENTE DE STAGE INTERVENUE ENTRE LES PARTIES SUIVANTES</h1>
<br/>
<h2 style="text-align: center; font-weight: normal;">
    Dans le cadre de la formule ATE, les parties cites ci-dessous :
</h2>
<h2 style="text-align: center; font-weight: normal;">Le gestionnaire de stage,
    <span th:text="${internshipManager_firstName + ' ' + internshipManager_lastName}">
        Lorem Ipsum
    </span>
</h2>
<br/>
<h2 style="text-align: center; font-weight: bold;">et</h2>
<br/>
<h2 style="text-align: center; font-weight: normal;">L'employeur,
    <span th:text="${monitor_firstName + ' ' + monitor_lastName}">
        Lorem Ipsum
    </span>
</h2>
<br/>
<h2 style="text-align: center; font-weight: bold;">et</h2>
<br/>
<h2 style="text-align: center; font-weight: normal;">L'&eacute;tudiant(e),
    <span th:text="${student_firstName + ' ' + student_lastName}">
         Lorem Ipsum
    </span>
</h2>
<br/>
<h2 style="text-align: center; font-weight: normal; ">Conviennent des conditions de stage suivantes :</h2>

<table style="margin-left: auto; margin-right: auto; width: 80%; border-collapse: collapse; border: 1px solid black;">
    <tr style="border: solid; border-width: 1px 0;">
        <td>
            <table style="width: 100%; border-collapse: collapse; padding-bottom: 8px">
                <th style="background-color: #E7E6E6; margin-bottom: 8px">
                    <h2 style="margin-left: 10px; margin-top: 8px; margin-bottom: 8px; text-align: left">ENDROIT DU
                        STAGE</h2>
                </th>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            Adresse: 124 fake avenue, Montreal</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="border: solid; border-width: 1px 0;">
        <td>
            <table style="width: 100%;  border-collapse: collapse; padding-bottom: 8px">
                <th style="background-color: #E7E6E6; margin-bottom: 8px">
                    <h2 style="margin-left: 10px; margin-top: 8px; margin-bottom: 8px; text-align: left">DUR&Eacute;E DU
                        STAGE</h2>
                </th>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            Date de d&eacute;but du stage: 2022-01-22</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            Adresse: 124 fake avenue, Montreal</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="border: solid; border-width: 1px 0;">
        <td>
            <table style="width: 100%;  border-collapse: collapse; padding-bottom: 8px">
                <th style="background-color: #E7E6E6; margin-bottom: 8px">
                    <h2 style="margin-left: 10px; margin-top: 8px; margin-bottom: 8px; text-align: left">HORAIRE DE
                        TRAVAIL</h2>
                </th>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            Horaire de travail: 8:00 &agrave; 16:00</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            Nombre total d'heures par semaine: 40h</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="border: solid; border-width: 1px 0;">
        <td>
            <table style="width: 100%;  border-collapse: collapse; padding-bottom: 8px">
                <th style="background-color: #E7E6E6; margin-bottom: 8px">
                    <h2 style="margin-left: 10px; margin-top: 8px; margin-bottom: 8px; text-align: left">SALAIRE</h2>
                </th>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            Salaire horaire: 21.00$/h</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<br/>
<h2 style="text-align: center; font-weight: bold;">T&Acirc;CHES ET RESPONSABILIT&Eacute;S DU STAGIAIRE:</h2>
<p style="margin-left: auto; margin-right: auto; padding: 8px; text-align: left; border: 1px solid black; width:80%; word-wrap: break-word">
    LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM
</p>
<br/>
<h2 style="text-align: center; font-weight: bold;">RESPONSABILIT&Eacute;S</h2>
<div style="width: 80%; margin-left: auto; margin-right: auto">
    <h2 style="text-align: left; font-weight: normal; ">Le Coll&egrave;ge s'engage &agrave;:</h2>
    <p style="text-align: left; word-wrap: break-word; font-size: large">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nunc a erat sed metus sagittis congue ut vel purus. Morbi sollicitudin vulputate sem et
        consequat. Aliquam vitae lectus in erat bibendum accumsan. Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia curae; Ut eu commodo est. Ut felis est, auctor at turpis sed, fringilla hendrerit
        odio. Aenean congue ante lorem, at ullamcorper neque posuere id. Praesent eget ante lorem. Aenean quis suscipit
        sapien, ac tempor lacus. Nunc luctus nibh ut congue luctus. Praesent sed massa ex.</p>

    <h2 style="text-align: left; font-weight: normal; ">Le l'entreprise s'engage &agrave;:</h2>
    <p style="text-align: left; word-wrap: break-word; font-size: large">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nunc a erat sed metus sagittis congue ut vel purus. Morbi sollicitudin vulputate sem et
        consequat. Aliquam vitae lectus in erat bibendum accumsan. Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia curae; Ut eu commodo est. Ut felis est, auctor at turpis sed, fringilla hendrerit
        odio. Aenean congue ante lorem, at ullamcorper neque posuere id. Praesent eget ante lorem. Aenean quis suscipit
        sapien, ac tempor lacus. Nunc luctus nibh ut congue luctus. Praesent sed massa ex.</p>

    <h2 style="text-align: left; font-weight: normal; ">Le l'&eacute;tudiant s'engage &agrave;:</h2>
    <p style="text-align: left; word-wrap: break-word; font-size: large">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nunc a erat sed metus sagittis congue ut vel purus. Morbi sollicitudin vulputate sem et
        consequat. Aliquam vitae lectus in erat bibendum accumsan. Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia curae; Ut eu commodo est. Ut felis est, auctor at turpis sed, fringilla hendrerit
        odio. Aenean congue ante lorem, at ullamcorper neque posuere id. Praesent eget ante lorem. Aenean quis suscipit
        sapien, ac tempor lacus. Nunc luctus nibh ut congue luctus. Praesent sed massa ex.</p>

    <br/>
    <h2 style="text-align: left; background-color: #E7E6E6; padding: 10px; border-top: 1px solid black">SIGNATURES</h2>

    <h2 style="text-align: center; font-weight: normal; ">Les parties s'engagent &agrave; respecter cette entente de
        stage</h2>
    <h2 style="text-align: left;">En foi de quoi les parties ont sign&eacute;,</h2>

    <h2 style="text-align: left;">L'&eacute;tudiant(e) :</h2>

    <table style="width: 100%; border-collapse: collapse;">
        <tr style="border-bottom: 1px solid black">
            <td><p style="font-size: x-large; margin-bottom: 0">Signature: Lore ipsum</p></td>
            <td><p style="font-size: x-large; margin-bottom: 0">Date: 2021-02-1</p></td>
        </tr>
        <tr>
            <td><p style="font-size: x-large; margin-top: 4px">Nom: Lore ipsum</p></td>
            <td></td>
        </tr>
    </table>

    <h2 style="text-align: left;">L'employeur :</h2>

    <table style="width: 100%; border-collapse: collapse;">
        <tr style="border-bottom: 1px solid black">
            <td><p style="font-size: x-large; margin-bottom: 0">Signature: Lore ipsum</p></td>
            <td><p style="font-size: x-large; margin-bottom: 0">Date: 2021-02-1</p></td>
        </tr>
        <tr>
            <td><p style="font-size: x-large; margin-top: 4px">Nom: Lore ipsum</p></td>
            <td></td>
        </tr>
    </table>

    <h2 style="text-align: left;">Le gestionnaire de stage :</h2>

    <table style="width: 100%; border-collapse: collapse;">
        <tr style="border-bottom: 1px solid black">
            <td><p style="font-size: x-large; margin-bottom: 0">Signature: Lore ipsum</p></td>
            <td><p style="font-size: x-large; margin-bottom: 0">Date: 2021-02-1</p></td>
        </tr>
        <tr>
            <td><p style="font-size: x-large; margin-top: 4px">Nom: Lore ipsum</p></td>
            <td></td>
        </tr>
    </table>

</div>


</body>
</html>