<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <bookmarks>
        <bookmark name="Contract" href="#contract"></bookmark>
    </bookmarks>
    <link th:rel="stylesheet" type="text/css" th:href="@{css/internship_contract_style.css}"/>
</head>

<body>
<h1 style="text-align: center; font-weight: bold;">ENTENTE DE STAGE INTERVENUE ENTRE LES PARTIES SUIVANTES</h1>
<br/>
<h2 style="text-align: center; font-weight: normal;">
    Dans le cadre de la formule ATE, les parties cites ci-dessous :
</h2>
<h2 style="text-align: center; font-weight: normal;">Le gestionnaire de stage,
    <span th:text="${internshipManager.firstName + ' ' + internshipManager.lastName}"></span>
</h2>
<br/>
<h2 style="text-align: center; font-weight: bold;">et</h2>
<br/>
<h2 style="text-align: center; font-weight: normal;">L'employeur,
    <span th:text="${monitor.firstName + ' ' + monitor.lastName}"></span>
</h2>
<br/>
<h2 style="text-align: center; font-weight: bold;">et</h2>
<br/>
<h2 style="text-align: center; font-weight: normal;">L'&eacute;tudiant(e),
    <span th:text="${student.firstName + ' ' + student.lastName}"></span>
</h2>
<br/>
<h2 style="text-align: center; font-weight: normal; ">Conviennent des conditions de stage suivantes :</h2>

<table style="margin-left: auto; margin-right: auto; width: 80%; border-collapse: collapse; border: 1px solid black;">
    <tr style="border: solid; border-width: 1px 0;">
        <td>
            <table style="width: 100%; border-collapse: collapse; padding-bottom: 8px">
                <th style="background-color: #E7E6E6; margin-bottom: 8px">
                    <h2 style="margin-left: 10px; margin-top: 8px; margin-bottom: 8px; text-align: left">ENDROIT DU
                        STAGE</h2>
                </th>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            <span th:if="${contract.address != null}" th:text="${'Adresse: ' + contract.address}"></span>
                            <span th:unless="${contract.address != null}">Adresse:  </span>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="border: solid; border-width: 1px 0;">
        <td>
            <table style="width: 100%;  border-collapse: collapse; padding-bottom: 8px">
                <th style="background-color: #E7E6E6; margin-bottom: 8px">
                    <h2 style="margin-left: 10px; margin-top: 8px; margin-bottom: 8px; text-align: left">DUR&Eacute;E DU
                        STAGE</h2>
                </th>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            <span th:text="${'Date de debut du stage: ' + contract.beginningDate}"></span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            <span th:text="${'Date de fin du stage: ' + contract.endingDate}"></span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            <span th:text="${'Nombre total de semaines: ' + weeks}"></span></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="border: solid; border-width: 1px 0;">
        <td>
            <table style="width: 100%;  border-collapse: collapse; padding-bottom: 8px">
                <th style="background-color: #E7E6E6; margin-bottom: 8px">
                    <h2 style="margin-left: 10px; margin-top: 8px; margin-bottom: 8px; text-align: left">HORAIRE DE
                        TRAVAIL</h2>
                </th>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            <span th:if="${contract.dailySchedule != null}"
                                  th:text="${'Horaire de travail: ' + contract.dailySchedule}"></span>
                            <span th:unless="${contract.dailySchedule != null}">Horaire de travail: </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            <span th:if="${contract.hoursPerWeek != null}"
                                  th:text="${'Nombre total d''heures par semaine: ' + contract.hoursPerWeek + 'h'}"></span>
                            <span th:unless="${contract.hoursPerWeek != null}">Nombre total d'heures par semaine: </span>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="border: solid; border-width: 1px 0;">
        <td>
            <table style="width: 100%;  border-collapse: collapse; padding-bottom: 8px">
                <th style="background-color: #E7E6E6; margin-bottom: 8px">
                    <h2 style="margin-left: 10px; margin-top: 8px; margin-bottom: 8px; text-align: left">SALAIRE</h2>
                </th>
                <tr>
                    <td>
                        <p style="font-size: larger; margin-left: 10px; margin-top: 8px; margin-bottom: 8px; line-height: 0.8">
                            <span th:if="${contract.hourlyRate != null}"
                                  th:text="${'Salaire horaire: ' + contract.hourlyRate + '$'}"></span>
                            <span th:unless="${contract.hourlyRate != null}">Salaire horaire: </span>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<br/>
<h2 style="text-align: center; font-weight: bold;">T&Acirc;CHES ET RESPONSABILIT&Eacute;S DU STAGIAIRE:</h2>
<p style="margin-left: auto; margin-right: auto; padding: 8px; text-align: left; border: 1px solid black; width:80%; word-wrap: break-word">
    Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Nunc a erat sed metus sagittis congue ut vel purus. Morbi sollicitudin vulputate sem et
    consequat. Aliquam vitae lectus in erat bibendum accumsan. Vestibulum ante ipsum primis in faucibus orci luctus
</p>
<br/>
<h2 style="text-align: center; font-weight: bold;">RESPONSABILIT&Eacute;S</h2>
<div style="width: 80%; margin-left: auto; margin-right: auto">
    <h2 style="text-align: left; font-weight: normal; ">Le Coll&egrave;ge s'engage &agrave;:</h2>
    <p style="text-align: left; word-wrap: break-word; font-size: large">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nunc a erat sed metus sagittis congue ut vel purus. Morbi sollicitudin vulputate sem et
        consequat. Aliquam vitae lectus in erat bibendum accumsan. Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia curae; Ut eu commodo est. Ut felis est, auctor at turpis sed, fringilla hendrerit
        odio. Aenean congue ante lorem, at ullamcorper neque posuere id. Praesent eget ante lorem. Aenean quis suscipit
        sapien, ac tempor lacus. Nunc luctus nibh ut congue luctus. Praesent sed massa ex.</p>

    <h2 style="text-align: left; font-weight: normal; ">Le l'entreprise s'engage &agrave;:</h2>
    <p style="text-align: left; word-wrap: break-word; font-size: large">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nunc a erat sed metus sagittis congue ut vel purus. Morbi sollicitudin vulputate sem et
        consequat. Aliquam vitae lectus in erat bibendum accumsan. Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia curae; Ut eu commodo est. Ut felis est, auctor at turpis sed, fringilla hendrerit
        odio. Aenean congue ante lorem, at ullamcorper neque posuere id. Praesent eget ante lorem. Aenean quis suscipit
        sapien, ac tempor lacus. Nunc luctus nibh ut congue luctus. Praesent sed massa ex.</p>

    <h2 style="text-align: left; font-weight: normal; ">Le l'&eacute;tudiant s'engage &agrave;:</h2>
    <p style="text-align: left; word-wrap: break-word; font-size: large">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nunc a erat sed metus sagittis congue ut vel purus. Morbi sollicitudin vulputate sem et
        consequat. Aliquam vitae lectus in erat bibendum accumsan. Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia curae; Ut eu commodo est. Ut felis est, auctor at turpis sed, fringilla hendrerit
        odio. Aenean congue ante lorem, at ullamcorper neque posuere id. Praesent eget ante lorem. Aenean quis suscipit
        sapien, ac tempor lacus. Nunc luctus nibh ut congue luctus. Praesent sed massa ex.</p>

    <br/>
    <h2 style="text-align: left; background-color: #E7E6E6; padding: 10px; border-top: 1px solid black">SIGNATURES</h2>

    <h2 style="text-align: center; font-weight: normal; ">Les parties s'engagent &agrave; respecter cette entente de
        stage</h2>
    <h2 style="text-align: left;">En foi de quoi les parties ont sign&eacute;,</h2>

    <h2 style="text-align: left;">L'&eacute;tudiant(e) :</h2>

    <table style="width: 100%; border-collapse: collapse;">
        <tr style="border-bottom: 1px solid black">
            <td>
                <p style="font-size: x-large; margin-bottom: 0">
                    <span th:text="${'Signature: ' + student_signature_name}"></span>
                </p>
            </td>
            <td>
                <p style="font-size: x-large; margin-bottom: 0">
                    <span th:if="${contract.studentSignature.hasSigned}"
                          th:text="${'Date: ' + contract.studentSignature.signDate}"></span>
                    <span th:unless="${contract.studentSignature.hasSigned}" th:text="${'Date:'}"></span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size: x-large; margin-top: 4px">Nom:
                    <span th:text="${student.firstName + ' ' + student.lastName}"></span>
                </p>
            </td>
            <td></td>
        </tr>
    </table>

    <h2 style="text-align: left;">L'employeur :</h2>

    <table style="width: 100%; border-collapse: collapse;">
        <tr style="border-bottom: 1px solid black">
            <td>
                <p style="font-size: x-large; margin-bottom: 0">
                    <span th:text="${'Signature: ' + monitor_signature_name}"></span>
                </p>
            </td>
            <td>
                <p style="font-size: x-large; margin-bottom: 0">
                    <span th:if="${contract.monitorSignature.hasSigned}"
                          th:text="${'Date: ' + contract.monitorSignature.signDate}"></span>
                    <span th:unless="${contract.monitorSignature.hasSigned}" th:text="${'Date:'}"></span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size: x-large; margin-top: 4px">Nom:
                    <span th:text="${monitor.firstName + ' ' + monitor.lastName}"></span>
                </p>
            </td>
            <td></td>
        </tr>
    </table>

    <h2 style="text-align: left;">Le gestionnaire de stage :</h2>

    <table style="width: 100%; border-collapse: collapse;">
        <tr style="border-bottom: 1px solid black">
            <td>
                <p style="font-size: x-large; margin-bottom: 0">
                    <span th:text="${'Signature: ' + internshipManager_signature_name}"></span>
                </p>
            </td>
            <td>
                <p style="font-size: x-large; margin-bottom: 0">
                    <span th:if="${contract.internshipManagerSignature.hasSigned}"
                          th:text="${'Date: ' + contract.internshipManagerSignature.signDate}"></span>
                    <span th:unless="${contract.internshipManagerSignature.hasSigned}" th:text="${'Date:'}"></span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size: x-large; margin-top: 4px">Nom:
                    <span th:text="${internshipManager.firstName + ' ' + internshipManager.lastName}"></span>
                </p>
            </td>
            <td></td>
        </tr>
    </table>

</div>
</body>
</html>