html {
    background-color: #bcbebf;
}

th, td {
    border: 1px solid black;
    width: 25%;
}

.center {
    text-align: center;
    border: 3px solid grey;
}

.offer {
    border: 1px solid black;
    margin-bottom: 25px;
}

.student {
    border: 1px solid black;
    margin-bottom: 25px;
}
